body {
    text-align: center;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.text-box, .img-box {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 20px;
}

.text-box {
    text-align: left;
    line-height: 1.6;
    font-size: 18px;
}

.img-box img {
    width: 100%;
    border-radius: 8px;
}
