.container {
  display: flex;
  border: 2px solid black;
  height: 200px;

  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.box {
  background: lightblue;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
}

.box:nth-child(4) {
  background: lightgreen;
}
